<!DOCTYPE html>
<html lang="en" ng-app="MovieApp">

<head>
  <title>Movie Search</title>
  <link href="content/css/styles.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="app/app.js"></script>
</head>

<header style="width: fit-content; margin: auto;">
  <h1>Search for movies</h1>
</header>

<body ng-controller="MovieSearchController">
  <div style="margin: auto; width: 800px; text-align: center;">
    <input type="text" ng-model="searchText" placeholder="Search for a movie..." />
    <button ng-click="search(searchText)">Search</button>
  </div>
  <ul
    style="list-style-type: none; display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center; text-align: center;">
    <li ng-repeat="movie in movies">
      <h2 style="width: 10rem; margin: auto; font-size: 1rem;">{{movie.title}}</h2>
      <!-- <p>{{movie.plot}}</p> -->
      <img src="{{movie.poster}}" />
    </li>
  </ul>
</body>

</html>